#%RAML 1.0
title: Pay As You Earn for employers
version: 1.0
protocols: [ HTTPS ]
baseUri: http://api.service.hmrc.gov.uk
mediaType: [ application/json, application/hal+json ]

documentation:
  - title: Overview
    content: !include documentation/overview.md
  - title: Data availability
    content: !include documentation/data-availability.md
  - title: Versioning
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
  - title: Errors
    content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/errors.md
  - title: Testing the API
    content: !include documentation/testing-approach.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

types:
  ChargeType:
    pattern: "[a-zA-Z0-9]+"
  ExportId:
    pattern: "[a-zA-Z0-9]+"
  EmpRef:
    pattern: "[a-zA-Z0-9]{3}/[a-zA-Z0-9]{7}"
  TaxOfficeNumber:
    pattern: "[a-zA-Z0-9]{3}"
  TaxOfficeReference:
    pattern: "[a-zA-Z0-9]{7}"
  TaxYear:
    pattern: "[0-9]{4}-[0-9]{2}"
  TaxMonth:
    pattern: "[1-9]|1[0-2]"

/organisations/paye:
  /:
    get:
      is: [ headers.acceptHeader ]
      displayName: Get access to ePAYE data
      description: This resource is the entry point to the ePAYE API. It will return a set of URLs, allowing you to access ePAYE data for each account. This will include the employer's ePAYE balance, monthly totals of RTI charges, non-RTI charges and a breakdown of individual charges.
      (annotations.scope): "read:epaye"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:epaye" ] } ]
      responses:
        200:
          body:
            application/json:
              type: !include schemas/Epaye.get.schema.array.json
              example: !include examples/Epaye.get.array.json
        403:
          body:
            application/json:
              type: !include schemas/ErrorCodes.schema.json
              examples:
                notOpenStatus:
                  description: You don't currently have an ePAYE enrolment on this account.
                  value: |
                    {
                      "code" : "INSUFFICIENT_ENROLMENTS",
                      "message" : "You are not currently enrolled for ePAYE"
                    }
  /{taxOfficeNumber}/{taxOfficeReference}/:
    uriParameters:
      taxOfficeNumber:
        description: A unique identifier made up of tax office number
        type: TaxOfficeNumber
        example: "001"
      taxOfficeReference:
        description: A unique identifier made up of the tax office reference
        type: TaxOfficeReference
        example: "A000001"
    get:
      is: [ headers.acceptHeader ]
      displayName: Get ePAYE total balance
      description: This resource returns the account summary including outstanding balance and interest on your ePAYE account.
      (annotations.scope): "read:epaye"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:epaye" ] } ]
      responses:
        200:
          body:
            application/json:
              type: !include schemas/Summary.get.schema.json
              example: !include examples/Summary.get.json
        403:
          body:
            application/json:
              type: !include schemas/ErrorCodes.schema.json
              examples:
                notOpenStatus:
                  description: You don't currently have an ePAYE enrolment on this account.
                  value: |
                    {
                      "code" : "INVALID_EMPREF",
                      "message" : "Provided EmpRef is not associated with your account"
                    }
    /{taxOfficeNumber}/{taxOfficeReference}/statements/{taxYear}:
      uriParameters:
        taxOfficeNumber:
          description: A unique identifier made up of tax office number
          type: string
          example: "001"
        taxOfficeReference:
          description: A unique identifier made up of the tax office reference
          type: string
          example: "A000001"
        taxYear:
          description: The tax year...
          type: string
          example: "2017-18"
      get:
        is: [ headers.acceptHeader ]
        displayName: Get the Annual Statement for a given tax year
        description: This resource returns the Annual Statement including a summary and breakdown of both RTI and non-RTI charges
        (annotations.scope): "read:epaye"
        securedBy: [ sec.oauth_2_0: { scopes: [ "read:epaye" ] } ]
        responses:
          200:
            body:
              application/json:
                type: !include schemas/AnnualStatement.get.schema.json
                example: !include examples/AnnualStatement.get.json
          403:
            body:
              application/json:
                type: !include schemas/ErrorCodes.schema.json
                examples:
                  notOpenStatus:
                    description: You don't currently have an ePAYE enrolment on this account.
                    value: |
                      {
                        "code" : "INVALID_EMPREF",
                        "message" : "Provided EmpRef is not associated with your account"
                      }


  /{taxOfficeNumber}/{taxOfficeReference}/statements/{taxYear}/{taxMonth}:
    uriParameters:
      taxOfficeNumber:
        description: A unique identifier made up of tax office number
        type: TaxOfficeNumber
        example: "001"
      taxOfficeReference:
        description: A unique identifier made up of the tax office reference
        type: TaxOfficeReference
        example: "A000001"
      taxYear:
        type: TaxYear
        example: "2015-16"
      taxMonth:
        type: TaxMonth
        example: "5"
    get:
      is: [ headers.acceptHeader ]
      displayName: Get ePAYE monthly statement
      (annotations.scope): "read:epaye"
      securedBy: [ sec.oauth_2_0: { scopes: [ "read:epaye" ] } ]
      responses:
        200:
          body:
            application/json:
              type: !include schemas/MonthlyStatement.get.schema.json
              example: !include examples/MonthlyStatement.get.json
        403:
          body:
            application/json:
              type: !include schemas/ErrorCodes.schema.json
              examples:
                notOpenStatus:
                  description: You don't currently have an ePAYE enrolment on this account.
                  value: |
                    {
                      "code" : "INVALID_EMPREF",
                      "message" : "Provided EmpRef is not associated with your account"
                    }

